@charset "UTF-8";

:root{
    --color-blue: #65DAF9;
    --color-gray: #444;
    --color-gray-too: #333;
    --color-white: #FFF;
    --color-black: #000;
}


/* GENERAL SETTINGS */

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li{
    color: var(--color-gray);
    font-size: 14px;
}

/* GENERAL SETTINGS */

/* HEADER SETTINGS */

header, .navbar{
    background-color: #353d41;
}

#nav-container{
    padding: 0;
}

#logo{
    width: 75px;
}

.navbar-brand{
    padding: 0;
    color: var(--color-white);
}

.navbar-brand > img{
    margin-right: 30px;
}

.navbar-brand:hover{
    color: var(--color-white);
}

#navbar-links a{
    color: var(--color-white);
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

#hamburguer{
    width: auto;
    height: auto;
}

/* HEADER SETTINGS */

/* MAIN SETTINGS */

/* SLIDER SETTINGS */

.container-fluid{
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item{
    height: 90vh;
}

#mainSlider .carousel-caption h2{
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p{
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: var(--color-white);
}

.main-btn{
    background-color: var(--color-blue);
    color: var(--color-white);
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px;
    border-radius: 23px;
    border: 3px solid transparent;
    transition: .3s;
}

.main-btn:hover{
    text-decoration: none;
    color: var(--color-white);
    background-color: transparent;
    border: 3px solid var(--color-blue);
}

#mainSlider .carousel-caption{
    top: 30%;
}

.carousel-indicators .active{
    background-color: var(--color-blue);

}

/* SLIDER SETTINGS */

/* ABOUT US */

#about-area{
    background-color: #F9F9F9;
}

.main-tittle{
    color: var(--color-gray);
    margin-bottom: 65px;
    font-size: 40px;
    text-align: center;
}

.main-tittle::after{
    content: "";
    border-top: 2px solid var(--color-gray-too);
    width: 15%;
    position: absolute;
    top: 60%;
    left: 42.5%;
}

.about-title{
    font-size: 17px;
    color: var(--color-gray);
    text-transform: uppercase;
    font-weight: bold;
}

.font-config{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    color: var(--color-gray-too);
    margin-left: 15px;
}

#about-list{
    list-style-type: none;
    padding-left: 0;
}

#about-list li{
    line-height: 30px;
}

#about-list i{
    color: var(--color-blue);
}

/* ABOUT US */

/* SERVES */

.service-box{
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4{
    transition: .5s;
}

.service-box i{
    font-size: 36px;
    margin-bottom: 25px;
    color: var(--color-gray);
}

.service-box h4{
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover i, .service-box:hover h4{
    color: var(--color-blue);
}

/* SERVES */

/* DATAS */

.circle-box div{
    padding: 0 40px;
}

.progressbar-text{
    font-weight: bold;
    font-size: 32px;
}

#data-area p{
    color: var(--color-white);
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/* DATAS */

/* CARDS */

.card-body{
    text-align: center;
    min-height: 121px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* CARDS */

/* WORK */

#apply-area{
    height: 600px;
}

#apply-area .container-fluid, #apply-area .row{
    height: 100%;
}

#apply-area .apply-box{
    text-align: center;
    padding: 130px 50px;
}

#company-img{
    background-image: url('../images/empresa.jpg');
    background-size: cover;
    height: 100%;
}

#pattern-img h4, #pattern-img p{
    color: var(--color-white);
    margin-bottom: 20px;
}

#pattern-img h4{
    margin-top: 8%;
    text-transform: uppercase;
}

#apply-btn{
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: var(--color-white);
}

#apply-btn:hover{
    border-color: var(--color-blue);
    background-color: var(--color-blue);
}

/* WORK */

/* PORTIFOLIO */

.project-box{
    margin-bottom: 30px;
}

#filter-btn-box{
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#portifolio-area .filter-btn{
    color: var(--color-gray);
    border: 1px solid var(--color-gray);
    background-color: transparent;
    text-transform: none;
    margin: 0 15px;
    min-width: 150px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

#portifolio-area .filter-btn.active, #portifolio-area .filter-btn:hover{
    color: var(--color-white);
    border: 1px solid var(--color-blue);
    background-color: var(--color-blue);
}

/* PORTIFOLIO */

/* MAIN SETTINGS */